# Discord
DISCORD_BOT_TOKEN=

# MySQL
DATABASE_URL=mysql://USERNAME:PASSWORD@HOST:PORT/DATABASE
SHADOW_DATABASE_URL=mysql://USERNAME:PASSWORD@HOST:PORT/DATABASE

# Miscellaneous
LOG_LEVEL=INFO             #VERBOSE, DEBUG, INFO, WARN, or ERROR
CMD_LOAD_LEVEL=ENABLED     #ENABLED, or DEV
CMD_DEV_GUILD=
